@charset "UTF-8";

/* -------------レスポンシブ--------------- */
/* 961以上→ only_p */
/* 960以下→ un_ts */
/* 960~416→ only_t */
/* 769以上→　ov_tab */
/* 768以下→ un_tab */
/* 421以上→ ov_s */
/* 420以下→ only_s */

@media screen and (min-width: 961px) {
  .only_t {
    display: none !important;
  }

  .only_s {
    display: none !important;
  }

  .un_ts {
    display: none !important;
  }
}

@media screen and (max-width: 960px) {
  .only_p {
    display: none !important;
  }

  .only_t {
    display: block !important;
  }

  .only_s {
    display: none !important;
  }

  .un_ts {
    display: block !important;
  }
}

@media screen and (min-width: 769px) {
  .ov_tab {
    display: block !important;
  }

  .un_tab {
    display: none !important;
  }
}

@media screen and (max-width: 768px) {
  .ov_tab {
    display: none !important;
  }

  .un_tab {
    display: block !important;
  }
}

@media screen and (min-width: 421px) {
  .ov_s {
    display: block !important;
  }
}

@media screen and (max-width: 420px) {
  .only_p {
    display: none !important;
  }

  .only_t {
    display: none !important;
  }

  .only_s {
    display: block !important;
  }

  .ov_s {
    display: none !important;
  }
}

/* 共通 */
body {
  font-family: "brandon-grotesque", "source-han-sans-japanese", sans-serif;
  color: #565655;
}

.gen {
  font-family: "source-han-sans-japanese", sans-serif;
}

@media screen and (max-width: 768px) {
  #Contents {
    padding: 100px 20px 0;
  }
}

.inner_960 {
  max-width: 960px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    margin: 0 20px;
  }
}

.inner_840 {
  max-width: 840px;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    margin: 0 20px;
  }
}

.pd_100 {
  padding: 100px 0;
  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }
}

.pd_120 {
  padding: 120px 0;
  @media screen and (max-width: 768px) {
    padding: 80px 0;
  }
}

.center {
  margin: 0 auto;
}

.gdt_btn {
  font-size: 16px;
  color: #fff !important;
  width: 450px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  padding-right: 40px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  background: linear-gradient(80deg, #97bcce, #abcab2);

  .left_blc {
    img {
      width: 43px;
      height: 43px;

      @media screen and (max-width: 768px) {
        margin-top: 10px;
      }
    }
  }

  .right_blc {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 768px) {
      line-height: 1.4;
    }

    span {
      display: block;
      font-size: 10px;
      font-weight: 500;
    }
  }

  &:after {
    display: inline-block;
    content: "";
    background-image: url(https://mybalance.jp/Contents/ImagesPkg/mybalance/arrow_wht.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    @media screen and (max-width: 960px) and (min-width: 769px) {
      display: none;
    }
  }
}

.product_btn {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #565655;
  color: #565656 !important;
  @media screen and (max-width: 768px) {
    font-size: 12px;
    height: 45px;
    position: absolute;
    bottom: 0;
  }

  &:after {
    display: inline-block;
    content: "";
    background-image: url(https://mybalance.jp/Contents/ImagesPkg/mybalance/arrow_blk.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);

    @media screen and (max-width: 768px) {
      background-size: 60%;
      right: -5px;
    }
  }
}

.service_btn {
  font-size: 16px;
  font-weight: 600;
  width: 375px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 1px solid #565655;
  color: #565656 !important;

  @media screen and (max-width: 768px) {
    width: 100%;
  }

  &:after {
    display: inline-block;
    content: "";
    background-image: url(https://mybalance.jp/Contents/ImagesPkg/mybalance/arrow_blk.svg);
    background-repeat: no-repeat;
    width: 30px;
    height: 6px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
}

.skinCheck_btn {
  font-size: 16px;
  font-weight: 600;
  width: 375px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #7da1ad !important;
  background-color: #fff;
  padding-right: 50px;
  @media screen and (max-width: 768px) {
    font-size: 15px;
    width: 100%;
  }
  @media screen and (max-width: 500px) {
    font-size: 13px;
  }
  span {
    margin-right: 20px;
    @media screen and (max-width: 500px) {
      margin-right: 10px;
    }
  }

  &:after {
    display: inline-block;
    content: "";
    background-image: url(https://mybalance.jp/Contents/ImagesPkg/mybalance/arrow_blue.svg);
    background-repeat: no-repeat;
    width: 35px;
    height: 8px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
  }
}

/* ヘッダー */
#header {
  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}
.blurred {
  backdrop-filter: blur(4px);
}
.header_wrp {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 5;
  height: 105px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;

  @media screen and (max-width: 768px) {
    height: 70px;
    padding: initial;
  }
  .header_logo {
    @media screen and (max-width: 768px) {
      width: 180px;
      padding-left: 15px;
    }
  }

  .icon_blc {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 25px;
    padding: 35px 20px 35px 35px;
    @media screen and (max-width: 768px) {
      column-gap: 15px;
      padding: 15px;
      a {
        text-align: right;
        @media screen and (max-width: 768px) {
          text-align: left;
        }
      }
      .hamburger {
      }
      img {
        width: 75%;
      }
    }

    .hd_skincheck_btn {
      display: flex;
      align-items: center;
      column-gap: 10px;
      border: 1px solid #565655;
      font-size: 12px;
      font-weight: 600;
      padding: 10px 60px 10px 10px;
      position: relative;
      background-color: transparent;
      transition: background-color 0.3s ease;
      &:after {
        display: inline-block;
        content: "";
        background-image: url(https://mybalance.jp/Contents/ImagesPkg/mybalance/arrow_blk.svg);
        background-repeat: no-repeat;
        width: 30px;
        height: 6px;
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translateY(-50%);

        @media screen and (max-width: 768px) {
          background-size: 60%;
          right: -5px;
        }
      }

      span {
        color: #fff;
        background-color: #5893b2;
        width: 85px;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 13px;
      }
    }
  }
}

.top_back_btn {
    position: fixed;
    bottom: 5%;
    right: 3%;
    z-index: 1000;
  @media screen and (max-width: 768px) {
    bottom: 2%;
    right: 3%;
    width: 50px;
    height: 50px;
  }
}

/*　ハンバーガーボタン　*/
.hamburger,
.hamburger_close {
  cursor: pointer;
}

/* ナビ開いてる時のボタン */
.hamburger.active {
  height: 40px;
}

nav.globalMenuSp {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  color: #565655;
  background-color: #fff;
  transform: translateX(100%);
  transition: all 0.6s;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  @media screen and (max-width: 768px) {
    height: 100vh;
    flex-direction: column;
  }
  .left_area {
    width: 37%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      @media screen and (max-width: 768px) {
        height: 100vh;
      }
    }
  }

  .right_area {
    padding-left: 150px;
    width: 63%;
    @media screen and (max-width: 960px) {
      padding-left: 90px;
    }
    @media screen and (max-width: 768px) {
      padding-left: initial;
      width: 100%;
    }
    .ham_header {
      position: relative;
      height: 80px;
      margin-bottom: 40px;

      @media screen and (max-width: 768px) {
        height: 70px;
      }
    }

    .ham_cont {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      height: calc(100% - 200px);
      justify-content: center;
      @media screen and (max-width: 768px) {
        padding: 70px 20px 0;
        height: auto;
      }
    }
  }
}

nav.globalMenuSp ul {
  width: 100%;
}

nav.globalMenuSp ul li {
  list-style-type: none;
  padding: 0;
  width: 100%;
}

nav.globalMenuSp ul li:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

nav.globalMenuSp ul li a {
  display: block;
  color: #565655;
  text-decoration: none;
  padding: 10px 0;

  span {
    display: block;

    &.ttl {
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 4px;
      text-align: left;

      @media screen and (max-width: 768px) {
        font-size: 20px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .ham_link_btn {
    img {
      width: 100%;
    }
  }
}

/* このクラスを、jQueryで付与・削除する */
nav.globalMenuSp.active {
  transform: translateX(0%);
}

/*　ハンバーガーボタン end　*/

/* top */
#fv {
  .fv_blc {
    background-image: url(https://mybalance.jp/Contents/ImagesPkg/mybalance/top_fv.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;

    @media screen and (max-width: 768px) {
      background-image: none;
      width: 100%;
      height: auto;
    }

    h1 {
      display: none;
    }

    .blc_bnr {
      width: 100%;
      display: flex;
      justify-content: center;
      column-gap: 20px;
      position: fixed;
      bottom: 0;
      z-index: 4;

      @media screen and (max-width: 768px) {
        column-gap: 0;
      }
    }
  }
}

.gdt_bg {
  position: relative;
  overflow: hidden;
  .gdt_point01 {
    position: absolute;
    top: -8%;
    left: 0;
    z-index: -1;

    @media screen and (max-width: 768px) {
      left: -30%;
    }
  }

  .gdt_point02 {
    position: absolute;
    top: 13%;
    right: 50%;
    transform: translateX(750px);
    z-index: -1;
    @media screen and (max-width: 768px) {
      top: 15%;
      right: -25%;
      transform: translateX(0);
    }
  }

  .gdt_bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;

    @media screen and (max-width: 1400px) {
      height: 1010px;
    }

    @media screen and (max-width: 768px) {
      height: auto;
    }
  }

  .gdt_flex {
    display: flex;
    flex-direction: column;
    row-gap: 150px;

    @media screen and (max-width: 768px) {
      row-gap: 0;
    }
  }

  #concept {
    .concept_blc {
      .h2_blc {
        text-align: center;
        margin-bottom: 55px;

        @media screen and (max-width: 768px) {
          margin-bottom: 35px;
        }

        h2 {
          font-size: 14px;
          color: #5893b2;
          margin-bottom: 36px;
        }

        .h2_sub {
          display: inline;
          font-size: 32px;
          font-weight: 500;

          @media screen and (max-width: 768px) {
            font-size: 24px;
          }

          span {
            color: #5893b2;
          }
        }
      }

      .text {
        font-size: 13px;
        line-height: 3;
        margin-bottom: 80px;
        text-align: center;

        @media screen and (max-width: 768px) {
          margin-bottom: 50px;
        }
      }

      .concept_img_blc {
        position: relative;
      }

      .side_word {
        font-size: 12px;
        color: #5893b2;
        writing-mode: vertical-rl;
        position: absolute;
        top: 32%;
        left: -50px;
        letter-spacing: 0.22em;

        @media screen and (max-width: 1060px) {
          display: none;
        }
      }

      .img_blc {
        margin-bottom: 120px;

        @media screen and (max-width: 768px) {
          margin-bottom: 80px;
        }

        img {
          margin: 0 auto;
        }
      }

      .bottom_blc {
        h3 {
          font-size: 26px;
          margin-bottom: 30px;
        }

        .text {
          text-align: left;

          span {
            &:before {
              display: inline-block;
              content: "";
              width: 260px;
              height: 1px;
              background-color: #565655;
              vertical-align: middle;
              margin-right: 10px;
              @media screen and (max-width: 768px) {
                width: 35vw;
              }
            }
          }
        }

        .img_blc {
          text-align: center;

          img {
            width: 85%;
          }
        }
      }

      .concept_blc_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 100px;
        position: relative;

        @media screen and (max-width: 768px) {
          flex-direction: column;
        }

        .side_word {
          font-size: 12px;
          color: #5893b2;
          writing-mode: vertical-rl;
          position: absolute;
          top: 50%;
          right: -50px;
          transform: translateY(-50%);
          letter-spacing: 0.22em;

          @media screen and (max-width: 1060px) {
            display: none;
          }
        }

        .left {
          width: 55%;

          @media screen and (max-width: 768px) {
            width: 100%;
          }

          .h2_blc {
            text-align: left;

            @media screen and (max-width: 768px) {
              margin-bottom: 30px;
            }

            h2 {
              display: none;

              @media screen and (max-width: 768px) {
                display: block;
                font-size: 14px;
                color: #5893b2;
                margin-bottom: 36px;
              }
            }

            .h2_sub {
              font-size: 32px;
              margin-bottom: 55px;

              @media screen and (max-width: 768px) {
                font-size: 26px;
                margin-bottom: 30px;
              }
            }
          }

          .text {
            font-size: 13px;
            line-height: 3;
            margin-bottom: 35px;
            text-align: left;
          }

          .note {
            font-size: 10px;
            color: #b4b4b4;

            @media screen and (max-width: 768px) {
              margin-bottom: 45px;
            }
          }
        }

        .right {
          width: 35%;

          @media screen and (max-width: 768px) {
            width: 100%;
          }

          img {
            width: 100%;

            @media screen and (max-width: 768px) {
              width: 80%;
              margin-left: -20px;
            }
          }
        }
      }
    }
  }

  #thought {
    @media screen and (max-width: 768px) {
      margin-bottom: 80px;
    }

    .thought_blc {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 100px;
      position: relative;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .side_word {
        font-size: 12px;
        color: #5893b2;
        writing-mode: vertical-rl;
        position: absolute;
        top: 50%;
        right: -50px;
        transform: translateY(-50%);
        letter-spacing: 0.22em;

        @media screen and (max-width: 1060px) {
          display: none;
        }
      }

      .left {
        width: 52%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        .h2_blc {
          text-align: left;

          @media screen and (max-width: 768px) {
            margin-bottom: 30px;
          }

          h2 {
            display: none;

            @media screen and (max-width: 768px) {
              display: block;
              font-size: 14px;
              color: #5893b2;
              margin-bottom: 36px;
            }
          }

          .h2_sub {
            font-size: 32px;
            margin-bottom: 55px;

            @media screen and (max-width: 768px) {
              font-size: 26px;
              margin-bottom: 30px;
            }
          }
        }

        .text {
          font-size: 13px;
          line-height: 3;
          margin-bottom: 35px;
        }

        .note {
          font-size: 10px;
          color: #b4b4b4;

          @media screen and (max-width: 768px) {
            margin-bottom: 45px;
          }
        }
      }

      .right {
        width: 40%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        img {
          width: 100%;

          @media screen and (max-width: 768px) {
            width: 80%;
            margin-left: -20px;
          }
        }
      }
    }
  }

  #suggestion {
    .suggestion_blc {
      .h2_blc {
        text-align: center;
        margin-bottom: 50px;

        @media screen and (max-width: 768px) {
          margin-bottom: 40px;
        }

        img {
          margin: 0 auto 15px;
        }

        h2 {
          font-size: 16px;
          font-weight: 600;
          letter-spacing: 2px;

          span {
            font-size: 24px;
            color: #5893b2;
            margin: 0 2px;
          }
        }
      }

      .contents_flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 60px;

        @media screen and (max-width: 768px) {
          flex-direction: column;
          row-gap: 20px;
        }

        .left {
          width: 50%;

          @media screen and (max-width: 768px) {
            width: 100%;
          }

          img {
            width: 100%;
          }
        }

        .right {
          width: 50%;
          display: flex;
          flex-direction: column;
          row-gap: 30px;

          @media screen and (max-width: 768px) {
            width: 100%;
          }

          .text_blc {
            .ttl {
              font-size: 18px;
              display: flex;
              align-items: center;
              margin-bottom: 15px;

              @media screen and (max-width: 768px) {
                margin-bottom: 5px;
              }

              .num {
                font-size: 32px;
                color: #82a9bb;
                margin-right: 15px;

                @media screen and (max-width: 768px) {
                  font-size: 30px;
                }
              }
            }

            .text {
              font-size: 13px;
              line-height: 2;
            }

            &:first-of-type {
              .text {
                margin-bottom: 30px;
              }
            }

            @media screen and (max-width: 960px) {
              .gdt_btn {
                width: 95%;
              }
            }

            @media screen and (max-width: 768px) {
              .gdt_btn {
                font-weight: 600;
                width: 400px;
                height: 90px;
                padding: 0 60px 0 15px;
                align-items: center;
                margin: 0 auto;
              }
            }

            @media screen and (max-width: 450px) {
              .gdt_btn {
                font-size: 14px;
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

#fullImg {
  .fullImg_blc {
    img {
      width: 100%;
    }
  }
}

#lineup {
  .lineup_wrp {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
  }

  .lineup_blc {
    .h2_blc {
      text-align: center;

      h2 {
        color: #5893b2;
        font-size: 28px;
        margin-bottom: 50px;

        @media screen and (max-width: 768px) {
          margin-bottom: 20px;
        }
      }
    }

    .lineup_text {
      font-size: 15px;
      line-height: 2.5;
      margin-bottom: 40px;
      text-align: center;
      background-color: #f9f9f9;
      padding: 15px 0;
      @media screen and (max-width: 768px) {
        font-size: 13px;
        margin-bottom: 20px;
        padding: 20px;
      }
      span {
        font-weight: 600;
        @media screen and (max-width: 768px) {
          font-weight: 500;
        }
      }
    }
    @media screen and (max-width: 768px) {
      .gdt_btn {
        font-weight: 600;
        width: 400px;
        height: 90px;
        padding: 0 60px 0 15px;
        align-items: center;
        margin: 0 auto;
      }
    }
    @media screen and (max-width: 450px) {
      .gdt_btn {
        font-size: 14px;
        width: 100%;
      }
    }
  }

  .teiki_blc {
    background-color: #e7f0f3;
    padding: 55px 45px 60px;

    @media screen and (max-width: 768px) {
      padding: 30px 15px;
    }

    .ttl {
      font-size: 20px;
      font-weight: 600;
      color: #5893b2;
      text-align: center;
      margin-bottom: 20px;

      @media screen and (max-width: 768px) {
        font-size: 15px;
      }
    }

    .ttl_sub {
      font-size: 13px;
      margin-bottom: 50px;
      text-align: center;
      line-height: 2;
    }

    .teiki_cont {
      display: flex;
      justify-content: center;
      column-gap: 25px;
      margin-bottom: 45px;

      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        row-gap: 40px;
      }

      .teiki_cont_item {
        background-color: #fff;
        width: 25%;
        height: 210px;
        padding: 30px 5px;
        position: relative;
        @media screen and (max-width: 768px) {
          width: 45%;
          height: auto;
          padding: 25px 5px 20px;
          text-align: center;
        }

        .num {
          font-size: 28px;
          color: #82a9bb;
          position: absolute;
          top: -25px;
          left: 10px;
          @media screen and (max-width: 768px) {
            font-size: 24px;
            top: -12px;
          }
        }

        img {
          margin: 0 auto 20px;

          @media screen and (max-width: 768px) {
            width: 35%;
          }
        }

        .text {
          font-size: 13px;
          text-align: center;
          @media screen and (max-width: 768px) {
            font-size: 11px;
            line-height: 1.75;
          }
          span {
            font-size: 15px;
            font-weight: 600;
            color: #5893b2;
            &.small {
            font-size: 12px;
            }
            &.marker {
              background: linear-gradient(transparent 50%, #fff5a4 50%);
            }
          }
        }
      }
    }

    .about {
      border: 2px solid #fff;
      padding: 15px 40px;
      display: flex;
      align-items: center;
      column-gap: 30px;
      @media screen and (max-width: 768px) {
        flex-direction: column;
        row-gap: 5px;
        text-align: center;
        padding: 25px 10px;
        line-height: 1.75;
      }
      .left {
        font-size: 15px;
        font-weight: 600;
      }
      .right {
        font-size: 13px;
        span {
          display: block;
          font-size: 10px;
          color: #b4b4b4;
          margin-top: 10px;
        }
      }
    }
  }

  .product_blc {
    @media screen and (max-width: 768px) {
      line-height: 1.75;
    }
    .product_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 50px;
      row-gap: 50px;
      @media screen and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
        row-gap: 30px;
      }

      .product_grid_item {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        position: relative;
        padding-bottom: 60px;
        .product_name_blc {
          @media screen and (max-width: 768px) {
            height: 64px;
          }
        }

        .product_name {
          font-size: 16px;
          font-weight: 600;

          @media screen and (max-width: 768px) {
            font-size: 12px;
            margin-bottom: 5px;
          }
        }

        .product_name_en {
          font-size: 12px;

          @media screen and (max-width: 768px) {
            font-size: 10px;
            letter-spacing: 1px;
          }
        }

        .skin_type_blc {
          span {
            font-size: 10px;
            display: inline-block;
            padding: 2px 8px;
            color: #fff;
            margin-right: 5px;

            @media screen and (max-width: 768px) {
              padding: 2px 4px;
              margin-right: 4px;
              letter-spacing: 0.6px;
            }

            &.oil {
              background-color: #caa5ab;
            }

            &.normal {
              background-color: #c4be9c;
            }

            &.oildry {
              background-color: #a4bdac;
            }

            &.dry {
              background-color: #adc7c7;
            }

            &:last-of-type {
              margin-right: initial;
            }
          }
        }

        .set_item {
          font-size: 12px;
          color: #b4b4b4;
          line-height: 1.5;
          @media screen and (max-width: 768px) {
            font-size: 10px;
          }
        }

        .teiki_price_blc {
          font-size: 15px;
          font-weight: 600;
          @media screen and (max-width: 768px) {
            font-size: 11px;
          }
          .cross {
            position: relative;
            &:after {
              position: absolute;
              top: 9px;
              left: 0;
              content: "";
              display: inline-block;
              width: 64px;
              height: 2px;
              background-color: #5893b2;
              transform: rotate(-8deg);
              @media screen and (max-width: 768px) {
                width: 86px;
              }
            }
            .tax {
              font-size: 10px;
            }
          }
        }

        .normal_price {
          font-size: 15px;
          @media screen and (max-width: 768px) {
            font-size: 11px;
          }
        }
      }
    }
  }

  .setItem_blc,
  .singleItem_blc {
    .h2_blc {
      h2 {
        color: #5893b2;
        font-size: 24px;
        display: flex;
        align-items: center;

        span {
          font-size: 14px;
          color: #565655;
          margin-left: 20px;
        }
      }
    }

    .setItem_blc_text {
      font-size: 13px;
      margin-top: 30px;
    }
  }
}

#service {
  .service_blc {
    background-color: #f9f9f9;

    .h2_blc {
      text-align: center;

      h2 {
        color: #5893b2;
        font-size: 28px;
        margin-bottom: 50px;

        @media screen and (max-width: 768px) {
          margin-bottom: 20px;
        }
      }
    }

    .service_text {
      font-size: 15px;
      line-height: 2.5;
      margin-bottom: 40px;
      text-align: center;

      @media screen and (max-width: 768px) {
        font-size: 12px;
      }
    }

    .service_cont {
      display: flex;
      justify-content: space-between;
      column-gap: 80px;
      margin-bottom: 50px;

      @media screen and (max-width: 768px) {
        flex-direction: column;
        margin-bottom: 20px;
      }

      .left,
      .right {
        width: 50%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        img {
          width: 100%;
          margin-bottom: 20px;

          @media screen and (max-width: 768px) {
            margin-bottom: 10px;
          }
        }
      }

      .ttl {
        font-size: 18px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        @media screen and (max-width: 768px) {
          margin-bottom: 5px;
        }

        .num {
          font-size: 32px;
          color: #82a9bb;
          margin-right: 15px;

          @media screen and (max-width: 768px) {
            font-size: 28px;
            margin-right: 10px;
          }
        }
      }

      .text {
        font-size: 13px;
        line-height: 2;
        margin-bottom: 30px;
        .text_link {
            display: inline;
            text-decoration: underline;
            color: #565655;
        }
      }
    }

    .service_btn {
      margin: 0 auto;
    }
  }
}

#skinCheck {
  background-color: #fff;
  .skinCheck_blc {
    background-image: url(https://mybalance.jp/Contents/ImagesPkg/mybalance/top_bottom_area_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 618px;
    margin: 20px;
    color: #fff;

    @media screen and (max-width: 768px) {
      background-image: url(https://mybalance.jp/Contents/ImagesPkg/mybalance/sp_top_bottom_area_bg.png);
      height: auto;
      margin: 20px 10px;
    }

    .skinCheck_cont {
      display: flex;
      align-items: center;
      justify-content: space-between;
      column-gap: 120px;

      @media screen and (max-width: 960px) {
        column-gap: 60px;
      }

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      h2 {
        font-size: 12px;
        margin-bottom: 65px;

        @media screen and (max-width: 768px) {
          margin-bottom: 35px;
        }
      }

      .text {
        font-size: 24px;
        margin-bottom: 50px;

        @media screen and (max-width: 768px) {
          font-size: 16px;
          margin-bottom: 30px;
        }
      }

      .logo {
        margin-left: -12px;
        margin-bottom: 50px;

        @media screen and (max-width: 768px) {
          margin-left: -5px;
        }
      }

      .left_img {
        margin-bottom: 40px;
      }
    }
  }
}

footer {
  @media screen and (max-width: 768px) {
    padding-bottom: 40px;
  }

  .footer_blc {
    position: relative;

    .gdt_point03 {
      position: absolute;
      top: -12%;
      left: 10%;
      z-index: -1;

      @media screen and (max-width: 768px) {
        top: -30%;
        left: -40%;
      }
    }

    .footer_cont {
      display: flex;
      justify-content: space-between;

      @media screen and (max-width: 768px) {
        flex-direction: column;
      }

      .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
          width: 100%;
          margin-bottom: 40px;
        }

        .ft_logo {
          width: 242px;

          @media screen and (max-width: 600px) {
            width: 55%;
          }
        }
      }

      .right {
        width: 47%;

        @media screen and (max-width: 768px) {
          width: 100%;
        }

        .top_blc {
          font-size: 18px;
          display: flex;
          flex-wrap: wrap;
          row-gap: 10px;
          column-gap: 25px;
          margin-bottom: 55px;

          @media screen and (max-width: 768px) {
            column-gap: 30px;
            margin-bottom: 35px;
          }

          li {
            a {
              color: #565656;
            }
          }
        }

        .bottom_blc {
          font-size: 12px;
          display: flex;
          flex-wrap: wrap;
          row-gap: 10px;
          column-gap: 25px;

          @media screen and (max-width: 768px) {
            font-size: 11px;
            column-gap: 10px;
            margin-bottom: 35px;
          }

          li {
            a {
              color: #bfbfbf;
            }
          }
        }
      }

      .copy {
        font-size: 10px;
      }
    }
  }
}

.none {
  display: none;
}

/* パンくず */
.breadcrumb_cstm ul {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* ページャー */
.top_pager .bottom_pager_cont {
  display: none;
}

.bottom_pager .top_pager_cont {
  display: none;
}

.pager_cont_none {
  display: none;
}

.top_pager_cont_all {
  text-align: right;

  @media screen and (max-width: 768px) {
    text-align: left;
  }
}

.bottom_pager_cont_num {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
}

.bottom_pager_cont_num span,
.bottom_pager_cont_num a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.bottom_pager_cont_num .pager_active {
  font-weight: 600;
  background-color: #e7f0f3;
  border-radius: 25px;
}

/* 商品一覧ページ */
.product_list_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  width: 100%;

  @media screen and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 15px;
    row-gap: 40px;
    margin-bottom: 40px;
  }

  .product_list_grid_item {
    position: relative;
    padding-bottom: 60px;

    .icon {
      height: 18px;
      margin-bottom: 10px;

      /* img {
        height: 30px;
      } */
    }

    .thumb {
      text-align: center;
      margin-bottom: 30px;

      .soldout {
        color: #fff;
        word-wrap: normal;
        position: absolute;
        top: 28%;
        left: 0%;
        text-align: center;
        width: 100%;
        height: 26px;
        line-height: 26px;
        background-color: #000;
        filter: alpha(opacity=50);
        -moz-opacity: 0.5;
        opacity: 0.5;
      }
    }

    .product-image {
      margin-bottom: 20px;
    }

    .name {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 20px;

      @media screen and (max-width: 768px) {
        line-height: 1.75;
        margin-bottom: 15px;
      }
    }

    .product-name {
      margin-bottom: 15px;

      .name {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .price {
      font-size: 14px;
      margin-bottom: 20px;
    }

    .product-price {
      margin-bottom: 15px;
    }

    .product_list_btn_blc {
      position: absolute;
      bottom: 0;
      width: 100%;

      .product_list_btn {
        position: relative;
        width: 100%;
        height: 60px;
        border: 1px solid #565655;
        font-size: 16px;
        font-weight: 600;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
          font-size: 14px;
          height: 50px;
        }

        &:after {
          display: inline-block;
          content: "";
          background-image: url(https://mybalance.jp/Contents/ImagesPkg/mybalance/arrow_blk.svg);
          background-repeat: no-repeat;
          width: 30px;
          height: 6px;
          position: absolute;
          top: 50%;
          right: 15px;
          transform: translateY(-50%);

          @media screen and (max-width: 768px) {
            background-size: 60%;
            right: -5px;
          }
        }
      }
    }
  }
}

/* 商品詳細ページ */
#dvProductDetailArea,
.wrap-product-detail {
  @media screen and (max-width: 768px) {
    line-height: 1.55;
  }
  .detail_name_en {
    font-size: 14px;
    margin-bottom: 20px;
  }
  .detail_name {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .detail_capacity {
    margin-bottom: 20px;
  }
  @media screen and (max-width: 768px) {
    .icon {
      margin-bottom: 20px;
      img {
        height: 22px;
        margin: 0 2px 2px 0;
      }
    }
  }
  .detail_copy {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .detail_overview {
    font-size: 13px;
    margin-bottom: 20px;
    @media screen and (max-width: 768px) {
      margin-bottom: initial;
    }
  }
  .detail_annotation {
    font-size: 10px;
    color: #b4b4b4;
    @media screen and (max-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .productPrice {
    font-size: 24px;
    font-weight: 600;
  }
}
.ChangesByVariation {
    margin-bottom: 20px;
}
.detailSubImageFlex {
    display: flex;
    column-gap: 10px;
    li {
        &.selected {
            border: 1px solid #5893b2;
        }
        a {
            img {
                width: 110px;
                height: 110px;
                object-fit: cover;
            }
        }
    }
}
#dvCrossSell {
  .productInfoList {
    .productInfoListItem {
      width: 100%;
    }
  }
}
#divMultiVariation {
  display: none;
}
.productAmount_selectBoxContent {
  margin: 30px 0;
  .productAmount_selectBox_label {
    display: inline-block;
  }
  .input_box {
    display: inline-block;
    border: 1px solid #565655;
    width: 50px;
    height: 40px;
    line-height: 35px;
    text-align: center;
    margin-left: 10px;
    position: relative;
    &:after {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5px;
      display: inline-block;
      content: "";
      background-image: url(https://mybalance.jp/Contents/ImagesPkg/mybalance/arrow_down.svg);
      background-repeat: no-repeat;
      width: 11px;
      height: 7px;
      pointer-events: none; /* クリックイベントを無効化 */
    }
    select {
      width: 50px;
      padding: 0 10px;
    }
  }
}
.btnCart {
  font-size: 16px;
  .btnCartBlack {
    width: 100%;
    border-radius: 0;
    height: 55px;
    background-color: #565655;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
  }
  .btnCartBlue {
    width: 100%;
    border-radius: 0;
    height: 55px;
    background-color: #5893b2;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
  }
}
/* お気に入りボタン */
#ctl00_ContentPlaceHolder1_lbAddFavoriteId,
#ctl00_ContentPlaceHolder1_lbAddFavorite {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
  border: 1px solid #565655;
  height: 55px;
  &.favorite-registered {
    opacity: 0.6;
    &:hover {
      opacity: 0.6;
    }
  }
  &:hover {
    opacity: 1;
    color: #565655;
  }
}

.wrap-buyable {
  margin-bottom: 60px;
}

#dvProductDescription {
  clear: both;
  margin: 10px 0 30px 0;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vw - 50%);
  background-color: #f4f8f9;
  .dvProductDescription_cont {
    padding: 110px 0 90px;
    /* margin-bottom: 120px; */
  }
  .h2_blc {
    text-align: center;
    margin-bottom: 50px;
    .title {
      font-size: 28px;
      color: #5893b2;
      padding: 8px;
    }
    .title_sub {
      font-size: 12px;
      font-weight: 600;
    }
  }
  table {
    border-top: 1px solid #565655;
    th,td {
      padding: 25px 0;
      border-bottom: 1px solid #565655;
      line-height: 1.75;
    }
    th {
      width: 235px;
      padding-left: 25px;
    }
  }
}
.wrap-product-desc .unit {
  margin: 0 calc(50% - 50vw);
  padding: 60px calc(50vw - 50%);
  background-color: #f4f8f9;
  .h2_blc {
    text-align: center;
    margin-bottom: 50px;
    .title {
      font-size: 28px;
      color: #5893b2;
      padding: 8px;
    }
    .title_sub {
      font-size: 12px;
      font-weight: 600;
    }
  }
  table {
    border-top: 1px solid #565655;
    th,td {
      display: block;
      line-height: 1.75;
    }
    th {
      padding-top: 25px;
    }
    td {
      padding: 10px 0 25px;
      border-bottom: 1px solid #565655;
    }
  }
}

.product-vatiation-choice {
  font-weight: 600;
  margin-bottom: 10px;
}
.selectValiation {
  border-bottom: 1px solid #eeeeee;
  p {
    padding-top: 30px;
    border-top: 1px solid #eeeeee;
  }
  .selectValiationItem:last-of-type {
    .VariationPanelSelected {
      padding-bottom: 20px;
    }
  }
}
.variationImage {
  display: none;
}
.valiation_flex {
  display: flex;
  column-gap: 15px;
  width: 100%;
  margin-bottom: 10px;
  .valiation_item {
    width: 33.3%;
    a:hover {
      opacity: 1;
      color: #565655;
    }
    .VariationPanelSelected {
      width:100%;
      border:1px solid #5893b2;
      padding:20px 5px;
      margin: 0 15px 10px 0;
      background-color: #f4f8f9;
      float:left;
      text-align: center;
    }
    .VariationPanel {
      width:100%;
      border: none;
      padding:20px 5px;
      margin: 0 15px 10px 0;
      background-color: #f5f7f7;
      float:left;
      text-align: center;
    }
  }
}
.valiation_item_text {
  .valiation_item {
    a:hover {
      opacity: 1;
      color: #565655;
    }
    .VariationPanelSelected {
      border: none;
      margin-bottom: 10px;
      background-color: transparent;
    }
    .VariationPanel {
      border: none;
      background-color: transparent;
    }
  }
}

.crossItem {
  .h2_blc {
    text-align: center;
    margin-top: 120px;
    margin-bottom: 50px;
    @media screen and (max-width: 768px) {
      margin-top: 60px;
    }
    .title {
      font-size: 28px;
      color: #5893b2;
      padding: 8px;
    }
    .title_sub {
      font-size: 12px;
      font-weight: 600;
    }
  }
  .productName {
    .relateItemName {
      font-size: 16px;
      font-weight: 600;
    }
    .relateItemPrice {
      display: none;
      font-size: 15px;
    }
  }
}
.relate_slick {
  li {
    @media screen and (max-width: 768px) {
      padding: 0 10px;
    }
  }
  .slick-prev,
  .slick-next {
    width: 40px; /* 矢印の幅 */
    height: 40px; /* 矢印の高さ */
    z-index: 1000; /* 矢印がスライドの上に表示されるようにする */
    @media screen and (max-width: 768px) {
      width: 25px;
      height: 25px;
    }
  }

  .slick-prev {
    left: -50px; /* 矢印の位置を調整 */
    background: url('https://mybalance.jp/Contents/ImagesPkg/mybalance/arrow_prev.svg') no-repeat center center; /* カスタム矢印画像を設定 */
    background-size: 30%;
    @media screen and (max-width: 768px) {
      left: -23px;
    }
  }

  .slick-next {
    right: -50px; /* 矢印の位置を調整 */
    background: url('https://mybalance.jp/Contents/ImagesPkg/mybalance/arrow_next.svg') no-repeat center center; /* カスタム矢印画像を設定 */
    background-size: 30%;
    @media screen and (max-width: 768px) {
      right: -23px;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    display: none; /* デフォルトの矢印を非表示にする */
  }
}
.sns {
  display: none;
}
.arrow {
  .prev,.next {
    display: none;
  }
}