/* =====================================================================
*
*    商品一覧/ProductList
*
* =================================================================== */

/* ---------------------------------
*    ソート/絞り込み/表示切り替え
*/

.sort-wrap {
	padding: .5em 0 1em;
}

.sort-nav {
	float: left;
	display: table;
    table-layout: fixed;
    width: 70%;
}

.sort-nav li {
    display: table-cell;
}

.sort-nav li a {
	border: 3px solid #555;
	color: #555;
	font-weight: bold;
	height: 34px;
	line-height: 34px;
	margin-right: 1%;
}

.sort-nav li a:last-child {  }

.sort-nav li a.active {
	background-color: #555;
	color: #fff;
}

.toggle-advance,
.toggle-sort {
	display: none;
	width: 100%;
	margin: .5em 0;
}

.sort-toggle h3 {
	background-color: #555;
	color: #fff;
	font-size: 13px;
	padding: .5em;
}

.sort-toggle table {
	width: 100%;
}

.sort-toggle table th,
.sort-toggle table td {
	padding: 1em .5em;
	border-bottom: 1px solid #000;
}

.sort-toggle table th {
	background-color: #ccc;
	width: 25%;
	font-weight: normal;
}

.sort-toggle table td {
	background-color: #eee;
	width: 75%;
}

.sort-toggle .sort-word input,
.sort-toggle .sort-category select {
	width: 100%;
}

.sort-toggle .horizon li {
	display: inline-block;
}

.sort-toggle .button {
	margin: .5em 0;
}

.sort-toggle .btn {
	padding: 1em 0;
	background-color: #000;
	color: #fff;
	width: 80%;
	margin: 0 auto;
}

.layout-nav {
	float: left;
	display: table;
    table-layout: fixed;
    width: 30%;
}

.layout-nav li {
    display: table-cell;
}

.layout-nav li a {
	display: block;
	background-color: #555;
	color: #fff;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.layout-nav li a.active { background-color: #000; }
.layout-nav li a:first-child { margin-right: 1px; }


/* =====================================================================
*
*    商品詳細/ProductDetail
*
* =================================================================== */

.wrap-product-detail {
	width: 95%;
	margin: 0 auto;
}

.wrap-product-detail header { margin: 1em 0; }

.wrap-product-detail header h1 {
	font-size: 15px;
	margin-bottom: .2em;
	line-height: 1.3;
}

.wrap-product-detail header strong {
}

.wrap-product-detail .attention {
	color: #f00;
	font-size: 11px;
	line-height: 1.5;
}

.wrap-product-detail .sns {
	margin: .5em 0;
}

.wrap-product-detail .sns .button {
	display: inline-block;
}

.product-info { margin-bottom: .5em; }

.product-info .set-promotion p {
	font-size: 12px;
	line-height: 1.5;
	margin-top: .5em;
}

.wrap-product-detail .product-price { margin-bottom: .5em; }
.wrap-product-detail .product-price p { font-size: 15px; }
.wrap-product-detail .product-price .special span {
	font-size: 12px;
}

.wrap-product-detail .product-icon img {
    height: 20px;
    margin: 0 1px 1px 0;
    vertical-align: middle;
    display: block;
    float: left;
}

/* 商品画像 */

.product-image-detail {
	position: relative;
	margin: .5em 0;
	clear: both;
	overflow:hidden; 
	width: 100%;
}

.flick-wrap {
	position: relative;
	z-index: 1;
	height: auto;
	width: 320px;
	margin: 0 auto;
}

.flick-wrap.loading {
	background: url('../Contents/ImagePkg/common/loading.gif') no-repeat center center;
	background-size: 16px 16px;
}

.flipsnap {
	position: relative;
	overflow: hidden;
	top: 0;
	left: 0;
	visibility: hidden;
}

.flipsnap img {
	width: 215px;
	display: block;
	margin: 0 auto;
}

.flipsnap .item {
	float: left;
	width: 304px;
}

.flipsnap .item span {
	display: block;
	text-align: center;
	padding: .5em 0;
	font-size: 13px !important;
}

.product-image-detail .prev,
.product-image-detail .next {
	position: absolute;
	top: 28%;
	display: block;
	width: 20px;
	height: 100px;
	text-indent: -999em;
	margin-top: -50px;
	background-color: #555;
	background-size: 15px 30px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	z-index: 999;
}

.product-image-detail .prev {
	left: 0;
	background-image: url('../Contents/ImagePkg/common/bg-bx-prev.png');
}

.product-image-detail .next {
	right: 0;
	background-image: url('../Contents/ImagePkg/common/bg-bx-next.png');
}

.product-image-detail .prev[disabled],
.product-image-detail .next[disabled] {
	filter: alpha(opacity=15);
	-moz-opacity: 0.15;
	opacity: 0.15;
}

/* サムネイル */

.product-image-sub {
	width: 100%;
	margin: .5em 0;
	text-align: center;
}

.product-image-sub a {
	display: inline-block;
	border: 1px solid #ccc;
	vertical-align: middle;
	margin: 1px;
}

.product-image-sub img { width: 45px; }
.product-image-sub a.current { border: 1px solid #000; }

/* バリエーション */

.product-vatiation { margin-top: 1.5em; }

.product-vatiation .matrix {
	width: 100%;
	margin: 1em 0;
	border-bottom: 1px solid #fff;
	border-right: 1px solid #fff;
}

.product-vatiation .matrix th,
.product-vatiation .matrix td {
	padding: .5em;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
}

.product-vatiation .matrix td { background-color: #eee; }

.product-vatiation .matrix td.variation { width: 30%; }
.product-vatiation .matrix td.stock { width: 15%; }
.product-vatiation .matrix td.button { width: 45%; }

.product-vatiation .matrix td.button .btn {
	font-size: 11px;
	text-align: center;
	display: block;
	background-color: #000;
	color: #fff;
	padding: 1em .5em;
	margin: .1em;
}

.product-vatiation .matrix td.button .sold-out {
	text-align: center;
}

/* カート投入 */
.btnCart .btn,
.wrap-product-cart .unit,
.wrap-product-cart .button {
  margin-bottom: 1em;
}

.btnCart .btn,
.wrap-not-buyable .btn,
.wrap-buyable .btn {
  background-color: #000;
  color: #fff;
  padding: 1.5em 0;
  font-size: 17px;
}

.wrap-not-buyable .sold-out {
	background-color: #ccc;
	padding: 1.5em 0;
	font-size: 17px;
	text-align: center;
}

.btnCart .btn
.wrap-buyable .favorite .btn {
  width: 80%;
  padding: .5em 0;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  margin: 0 auto;
}

.wrap-product-desc { margin: 1em 0; }
.wrap-product-desc .unit {
	margin-bottom: 1em;
}

.wrap-product-desc h2 {
	font-size: 14px;
	margin-bottom: .5em;
	padding: .4em .2em;
	border-bottom: 1px solid #000;
}

.wrap-product-desc .contact .btn {
	width: 60%;
	font-size: 12px;
	padding: .5em 0;
	border: 1px solid #000;
	margin: 0 auto;
}

.wrap-product-desc .unit p {
	line-height: 1.8;
	margin-bottom: 1em;
}

.wrap-buyable .btn[disabled] {
    background-color: #e6e6e6;
}

/* 付帯情報 */

.wrap-product-incident dl dt,
.wrap-product-incident dl dd {
	padding: .5em;
}
.wrap-product-incident dl dt {
	font-weight: bold;
	background-color: #fafafa;
}

.wrap-product-incident dl dd { line-height: 1.5; }
.wrap-product-incident dl dd label { margin-right: .5em; }
.wrap-product-incident dl dt .require { color: #f00; }
.wrap-product-incident dl dd input[type=text] { width: 100%; }


/* アップセル/クロスセル */

.wrap-product-detail .up-sell h4,
.wrap-product-detail .cross-sell h4 {
	background-color: #000;
	color: #fff;
	padding: .5em;
	font-weight: normal;
}

/* 商品レビュー */

.wrap-product-detail .review h4 {
	background-color: #ccc;
	color: #000;
	padding: .5em;
	margin-bottom: .5em;
	font-weight: normal;
}

.wrap-product-detail .review-list {
	padding: .5em;
	border-bottom: 1px dotted #ccc;
}

.wrap-product-detail .review-list li {
	line-height: 1.5;
	margin: .2em 0;
}

.wrap-product-detail .review dl { margin: 1em 0; }
.wrap-product-detail .review dl dt,
.wrap-product-detail .review dl dd {
	margin: .3em;
}

.wrap-product-detail .review dl dd input,
.wrap-product-detail .review dl dd textarea { width: 98%; }

.wrap-product-detail .review .msg {
	margin: .5em;
	text-align: center;
	line-height: 1.5;
}

.wrap-product-detail .review .review-footer {
	padding: 0 1em;
}

.wrap-product-detail .review .review-footer .btn {
	border: 1px solid #000;
	padding: .5em 0;
	margin: .5em 0;
}

/* ---------------------------------
*    在庫状況/ProductStockList
*/

.wrap-product-stock-list { padding: 1em; }
.wrap-product-stock-list h1 { font-size: 14px;}

.wrap-product-stock-list h2 {
	font-size: 13px;
	font-weight: normal;
	padding: .5em;
}

.wrap-product-stock-list table {
	width: 100%;
	margin: 1em 0;
	border-bottom: 1px solid #000;
	border-right: 1px solid #000;
}

.wrap-product-stock-list table th,
.wrap-product-stock-list table td {
	padding: .5em;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
}

.wrap-product-stock-list table th { background-color: #fafafa; }
.wrap-product-stock-list table td { text-align: center; }

.wrap-product-stock-list .btn {
	padding: .7em 0;
	background-color: #000;
	color: #fff;
	width: 30%;
	margin: 0 auto;
}

/* ---------------------------------
*    リアル店舗在庫状況/RealShopProductStockList
*/

.real-shop-product-stock-list { padding: 1em; }

.real-shop-product-stock-list .variation {
	clear: both;
	margin: .5em 0;
}

.real-shop-product-stock-list .variation select {
	width: 100%;
	margin: .3em 0;
}

.real-shop-product-stock-list .real-shop-stock {
	width: 100%;
	margin: .5em 0;
	background-color: #fafafa;
}

.real-shop-product-stock-list .real-shop-stock th,
.real-shop-product-stock-list .real-shop-stock td {
	line-height: 1.3;
	padding: .5em;
}

.real-shop-product-stock-list .real-shop-stock td.name {
	width: 75%;
	font-weight: bold;
}

.real-shop-product-stock-list .real-shop-stock td.stock {
	text-align: center;
	background-color: #ddd;
}

.real-shop-product-stock-list .btn {
	padding: .7em 0;
	background-color: #000;
	color: #FFF;
	width: 30%;
	margin: 0 auto;
}

/* =====================================================================
*
*    闇市/ProductVariationList
*
* =================================================================== */

.product-vatiation-list .product-list-2 {
	margin-top: 1em;
}

.product-vatiation-list .product-list-2 .button a {
	width: 80%;
	padding: .5em;
	margin: 0 auto;
}

/*==============================================================================================
 おすすめタグ・商品一覧
==============================================================================================*/
div.recommendPageInfoArea {
  padding-bottom: 15px;
}

.recommendPageInfoArea .contents {
  padding-top: 5px;
  padding-bottom: 5px;
}

.recommendPageInfoArea .contents h1 {
  font-size: 15px;
  font-weight: bold;
  padding: 8px;
}

.recommendTag {
  white-space: nowrap;
  line-height: 25px;
  display: inline-block;
  padding: 5px;
}

a.recommendTag span {
  border: 1px solid #d0d0d0;
  border-radius: 5px;
  padding: 5px;
  background-color: #ececec;
  color: #000;
}

.productlist_orderButton, .productlist_detailsLink {
  width: 90%;
  height: 30px;
  display: inline-block;
  line-height: 30px;
  text-align: center;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  margin: 1px;
  text-decoration: none;
  outline: none;
  margin: 5px auto 0 auto;
}

.productlist_orderButton {
  background-color: black;
}

.productlist_detailsLink {
  background-color: #ccc;
  color: black;
}

.productlist_orderButton:hover, .productlist_detailsButton:hover {
  opacity: 0.8;
}

.productlist_closeModalButton {
  position: absolute;
  top: 0px;
  right: 0px;
  border: none;
  background: lightgray;
  font-size: 20px;
  cursor: pointer;
  outline: none;
  width: 80px;
  margin: 0px;
}

.productlist_modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, .6);
}

.productlist_modalBackground .item .zoomTarget {
  width: 100%;
}

.productlist_modalBackground .field-boxes {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: flex-start;
  max-width: 100%;
}

.productlist_modalBackground [id$="ddlSubscriptionBox"] {
  width: 100%;
  height: 33px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.productlist_modalBackground .VariationPanel {
  min-width: 50px;
  border: 1px;
  border-style: solid;
  border-color: #adb0b0;
  background-color: #f5f7f7;
  padding: 2px 2px 2px 2px;
  margin-right: 15px;
  margin-bottom: 10px;
  float: left;
  margin: 5px 5px 5px 5px;
}

.productlist_modalBackground .VariationPanelSelected {
  min-width: 50px;
  border: 1px;
  border-style: solid;
  padding: 2px 2px 2px 2px;
  margin-right: 15px;
  margin-bottom: 10px;
  background-color: #dbdfdf;
  float: left;
  margin: 5px 5px 5px 5px;
}

.productlist_modalBackground #dvProductDetailArea {
  width: 60%;
  height: 80vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  overflow-y: scroll;
  z-index: 9999;
  padding: 40px;
}

.productlist_modalBackground #dvProductDetailArea .flipsnap .item {
  float: left;
  width: 215px;
}
