/* =====================================================================
*
*    オーダー/Order
*
* =================================================================== */

/* ---------------------------------
*    共通
*/

.step {
	text-align: center;
	margin: 1em 0;
}

.cart-unit,
.order-unit {
	margin-bottom: 2em;
}

.cart-unit h2,
.order-unit h2 {
	margin-top: .1em;
	padding: .5em;
	background-color: #000;
	color: #fff;
	font-size: 15px;
}

.cart-unit h3,
.order-unit h3 {
	padding: .5em;
	background-color: #fafafa;
	font-size: 14px;
}

.cart-unit .msg,
.order-unit .msg {
	font-size: 11px;
	padding: .5em;
	line-height: 1.5;
}

.order-unit .require {
	color: #f00;
	font-weight: bold;
	margin-left: 3px;
}

.order-unit .attention {
	font-size: 11px;
	color: #f00;
	line-height: 1.5;
	/*padding: .3em;*/
}

.order-unit .warning {
	font-size: 11px;
	color: black;
	line-height: 1.5;
}

.order-unit .memory-pass {
	text-align: center;
	padding: .5em;
	margin-bottom: .5em;
}

/* フッターボタン */

.order-footer {
	padding: 0 1em 1em 1em;
}

.order-footer div {
	margin-bottom: 1em;
}

.order-footer .button-next .btn {
	padding: 1.5em 0;
	background-color: #000;
	color: #fff;
}

.order-footer .button-prev .btn {
	padding: 1.5em 0;
	background-color: #ccc;
}

/* ---------------------------------
*    カート/CartList
*/

/* カート商品 */

.cart-table {
	width: 100%;
	border-top: 1px solid #efefef;
	border-bottom: 1px solid #efefef;
}

.cart-table tr {
	border-bottom: 1px dotted #efefef;
}

.cart-table td {
	padding: .5em;
	line-height: 1.5;
}

.cart-table th {
	padding: .5em;
	line-height: 1.5;
}

.cart-table .product-image {
	width: 25%;
	text-align: center;
}

.cart-table .product-image img { width: 60px; }

.cart-table .product-info {
	width: 37%;
}
.cart-table .product-control {
	width: 15%;
	background-color: #eee;
}

.cart-table .product-control-all {
	width: 15%;
	text-align: left;
	background-color: #fafafa;
}

.cart-table td .amout {
	margin-bottom: .5em;
}

.cart-table td .amout input {
	width: 100%;
	padding: .5em 0;
	text-align: center;
}

.cart-table td .amout p {
	width: 100%;
	padding: .5em 0;
	text-align: center;
}

.cart-table td .delete a {
	padding: .3em 0;
	background-color: #333;
	color: #fff;
	margin-top: 1em;
}

.cart-table td .add a {
	padding: .3em 0;
	background-color: #333;
	color: #fff;
	margin-top: 0em;
}

.cart-unit .attention,
.cart-unit-footer .attention {
	font-size: 11px;
	color: #f00;
}

.cart-unit dl {
	clear: both;
	display: flow-root;
	padding: .5em;
	border-bottom: 1px solid #efefef;
}

.cart-unit dl dt,
.cart-unit dl dd {
	padding: .3em;
	line-height: 1.5;
}

.cart-unit dl dt {
	float: left;
	clear: left;
	width: 60%;
}

.cart-unit dl dd {
	margin-left: 63%;
	text-align: right;
}

div.cart-unit div.dvAnnounceFreeShipping{
	padding: 6.5px;
}

div.cart-unit div.dvAnnounceFreeShipping span.defPrice {
	color:#f00;
	font-weight:bold;
	font-size:18px;
}

div.cart-unit div.dvAnnounceFreeShipping span.freeShipping {
	font-weight:bold;
	font-size:18px;
}

.cart-unit-footer input {
	width: 100%;
}

/* 利用可能ポイントの定期継続利用チェックボックス */
.cbUseAllPointFlgSpCart input {
	width: 10px !important;
}

.cart-unit-footer .use-point dt,
.cart-unit-footer .coupon-point dt { width: 35%; }
.cart-unit-footer .use-point dd,
.cart-unit-footer .coupon-point dd { margin-left: 38%; }
.cart-unit-footer .use-point dd input {
	text-align: right;
	width: 50%;
}
.cart-unit-footer .coupon-point dd input{ width: 70%; }

.cart-unit-footer .use-point dd span { font-size: 11px; }

.cart-footer {
	padding: 1em;
}

.cart-footer div {
	margin-bottom: 1em;
}

.cart-footer .button-next .btn {
	padding: 1.5em 0;
	background-color: #000;
	color: #fff;
}

.cart-footer .button-prev .btn {
	padding: 1.5em 0;
	background-color: #ddd;
}

.cart-novelty-unit .title {
    padding: .5em;
	background-color: #ccc;
	display: block;
}
.cart-novelty-unit .info {
    padding: .5em;
	background-color: #fff;
	display: block;
}

.cart-title-product-list-before {
	text-align: left;
	background-color: #fafafa;
}

/* ---------------------------------
*    ログイン / OrderOwnerDecision
*/

.order-unit .order-form {
	margin: 1em auto;
	/*width: 96%;*/
}

.order-unit .order-form dt,
.order-unit .order-form dd {
	padding: .5em;
	line-height: 1.5;
}
.order-unit .order-form dd.message {
	padding: .1em;
    line-height: 1.5;
}

.order-unit .order-form dt {
	background-color: #ccc;
}

.order-unit .order-form dd dt {
	background-color: transparent;
	border-bottom: 1px solid #000;
	color: #000;
}

.order-unit .order-form dd input {
	padding: .5em;
}

.order-unit .button { margin: 1em 0; }
.order-unit .btn {
	padding: 1.5em 0;
	background-color: #000;
	color: #fff;
}

.order-unit .checked {
	text-align: center;
	margin: .5em 0;
}

.not-login .order-footer { padding-top: 1em; }

.order-form .require {
	color: #f00;
	font-weight: bold;
}

.order-form .attention span {
	display: block;
}

.login .order-form input {
	width: 100%;
}

/* ---------------------------------
*    注文者・配送先 / OrderShipping
*/

/* フォームのinput */

.order-form .name input,
.order-form .FULLWIDTH_HIRAGANA input {
	width: 49%;
}

.order-form .FULLWIDTH_KATAKANA input {
	width: 49%;
}

.order-form .mail input,
.order-form .mail-confirm input,
.order-form .mobile input,
.order-form .mobile-confirm input,
.order-form .address input,
.order-form .password input {
	width: 100%;
}

.order-form .zip input {
	width: 30%;
}

.order-form .zip .btn-add-search,
.order-form .tel .btn-add-get {
	display: block;
	padding: 1em;
	background-color: #000;
	margin: .5em 0;
	width: 50%;
	text-align: center;
	color: #fff;
}

.order-form .birth select {
	width: 25%;
}

.order-form .tel input {
	width: 30%;
}

.order-form .address input,
.order-form .address select,
.order-form .mail input,
.order-form .mobile input { margin-bottom: .2em; }

.order-unit .shipping-select {
	text-align: center;
	padding: 1em 0;
}

.order-form .shipping-input {
	background-color: #fafafa;
}

.order-form .fixed-date {
	padding: .5em;
}

/* ---------------------------------
*    お支払い方法 / OrderPayment
*/

.payment-list .box-center {
	padding: 1em 0;
	text-align: center;
	line-height: 1.5;
}

.payment-list .box-center select {
	width: 100%;
	margin: .3em 0;
}

/* フォームのinput */

.order-form .card-nums input {
	width: 100%;
}

.order-form .card-name input,
.order-form .card-title input{
	width: 100%;
}

.select-same-payment {
	display: block;
	padding: 1em .5em;
	text-align: center;
}

.order-payment .order-form  h4 {
	padding: 0 0 .5em .5em;
	margin-bottom: .5em;
	border-bottom: 1px solid #000;
	font-weight: normal;
}

.order-payment .payment-list ul li {
	margin-bottom: 1.5em;
}

.order-payment .payment-list ul li p {
	line-height: 1.5;
	margin: .3em 0;
}

.order-payment .payment-list {
	width: 96%;
	margin: .5em auto;
}

.order-payment .payment-list dt.title {
	background-color: #333;
	margin-bottom: 1px;
	color: #fff;
}
.order-payment .payment-list dd { padding: 0; }
.order-payment .payment-list dd .inner { padding: .5em; }
.order-payment .payment-list dd .title {
	font-weight: bold;
	margin: .3em 0;
}
.order-payment .receipt-form dd { padding: .3em 1em; }

/* ---------------------------------
*    注文確認 / OrderComfirm
*/

.cart-footer .button-next.order .btn {
	background-color: #000;
}

.comfirm-shipping .order-form dd { margin-bottom: 1em; }
.order-comfirm .button-change { padding: 1em 0; }
.order-comfirm .button-change .btn {
	padding: 1em 0;
	background-color: #555;
	color: #fff;
	width: 60%;
	margin: 0 auto;
}

.order-comfirm .order-unit .order-form dd dt {
	background-color: #ddd;
	color: #000;
	border-bottom: none;
}

/* ---------------------------------
*    注文完了 / OrderComplete
*/

.order-complete .unit { padding: 0 .5em; }
.order-complete h2 {
	font-size: 14px;
	text-align: center;
	padding: 1em 0;
	background-color: transparent;
}

.order-complete h3 {
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	background-color: #ddd;
}

.order-complete .regist-member {
	width: 60%;
	margin: 0 auto;
}
.orderComplete .order-unit .order-form dd dt{background-color: #ddd;color: #000;border-bottom: none;}

/* コンビニ前払い */

.order-complete .cvs-list table {
	width: 100%;
	margin: .3em;
}

.order-complete .cvs-list table th,
.order-complete .cvs-list table td {
	padding: .5em;
}
.order-complete .cvs-list table td a { text-decoration: underline; }

/* ---------------------------------
*    購入一覧 購入履歴詳細 / OrderHistoryList OrderHistoryDetail
*/

.order-history-list .content,
.order-history-detail .content {
	width: 95%;
	margin: 1em auto;
}

.order-history-list h3,
.order-history-detail h3 {
	color: #fff;
	background-color: #000;
}

.order-history-list .order-unit .order-form dt,
.order-history-detail .order-unit .order-form dt {
	background-color: #ccc;
	color: #000;
}

.order-history-list .content > ul > li {
	margin-bottom: 1.5em;
	background-color: #fafafa;
	height: 100%;
}

.order-unit .order-id {
	text-align: center;
	padding: .5em 0;
	font-size: 18px;
}

.order-history-nav {
	list-style-type: none;
	padding: .5em 0;
}

.order-history-nav ul {
    display: table;
    table-layout: fixed;
    width: 100%;
}

.order-history-nav ul li {
    display: table-cell;
    width: 50%;
    text-align: center;
    background-color: #ccc;
}

.order-history-nav ul li a {
	display: block;
    background-color: #fafafa;
    padding: .5em 0;
}

.order-history-nav .title { font-weight: bold; }
.order-history-list .button {
	padding: 0;
	margin: 0;
}

.order-history-list .order-unit .btn {
	padding: .7em;
	width: 50%;
	margin: 1em auto;
}

.order-history-list .order-date {
}

.order-history-product {
	margin: 0 !important;
}

.order-history-product dd {
	border-bottom: 1px solid #EFEFEF;
	padding: .5em 1em !important;
}

.order-history-detail-items-container {
	display: grid;
	grid-template-columns: 1fr 0.8fr;
	grid-gap: 0.5rem;
}

.order-history-detail-normal {
	grid-column: 1/3;
}

.order-history-detail-item {
	grid-column: 1;
}

.order-history-detail-line {
	border-bottom-style: none !important;
}

.fixed-amount-course-wrap {
	grid-column: 2;
	display: grid;
	align-items: center;
}

.fixed-amount-course-wrap ul {
	text-align: right;
}

.fixed-amount-course-wrap ul li {
	font-size: 10px;
}

.receipt-download-message {
	padding: 0.7em 1.2em;
	line-height:1.5;
}

.notProductError {
  color: red;
}

/* ---------------------------------
*    会員共通
*/

.order-form dd.sex label {
	margin-right: .5em;
}

.order-form dd.extend {
	line-height: 2;
}

.order-form dd.extend ul li.title {
	font-weight: bold;
	border-top: 1px dotted #ccc;
	margin: .3em 0;
}
.order-form dd.extend ul li.title:first-child { border-top: none; }


/* ---------------------------------
*    会員登録完了 / OrderComplete
*/

.user-regist-complete p {
	padding: 1em;
	line-height: 1.5;
}

/* ---------------------------------
*    会員新規登録 / UserRegistRegulation
*/

.order-unit .regulation {
	margin: .5em;
	padding: .5em;
	height: 300px;
	overflow-x: scroll;
	border: 1px solid #000;
}

/* 同梱注文選択画面 / OrderCombineSelectList */
.OrderCombineSelectlist .title {
	margin-top: .1em;
	padding: .5em;
	background-color: #000;
	color: #fff;
	font-size: 15px;
}
.OrderCombineSelectlist .message {
	font-size: 11px;
	padding: .5em;
	line-height: 1.5;
}
.OrderCombineSelectlist .table-title {
	width: auto;
	font-size: 14px;
	padding: 5px 0 10px 5px;
	border-bottom: 1px solid #333;
}
.OrderCombineSelectlist table {
	width: 100%;
}
.OrderCombineSelectlist .radio {
	width: 60px;
	border-bottom: 1px solid #333;
	text-align: center;
}
.OrderCombineSelectlist table td {
	padding: 4px;
	line-height: 1.3;
}
.OrderCombineSelectlist table th {
	padding: 4px;
	line-height: 1.3;
	width: 105px;
	font-weight: normal;
	text-align: right;
}
.OrderCombineSelectlist table tr:last-child {
	border-bottom: 1px solid #333;
}

.rakuten-payment-form {
	width: 80%;
	height: 90%;
	top: 50%;
	left: 0;
	text-align: center;
	background: #fff;
	position: fixed;
	z-index: 200001;
	padding: 10px;
	margin: -330px 0 0 30px;
	overflow-y: scroll;
}

.rakuten-payment-form h1 {
	text-align: left;
	font-size: 20px;
	padding-bottom: 10px;
}

.rakuten-payment-form .btn {
	width: 100%;
	padding: 1.5em 0;
	background-color: #000;
	color: #fff;
}

.rakuten-payment-form h4 {
	text-align: left;
	background-color: lightgray; 
	
}
